<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AHMDS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AHMDS.Properties.Settings.ahmdsConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB\ahmds.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <AHMDS.Properties.Settings>
            <setting name="PerlLocation" serializeAs="String">
                <value>C:\Perl\perl\bin\perl.exe</value>
            </setting>
            <setting name="SandboxieBoxLocation" serializeAs="String">
                <value>C:\Sandbox\AHMDS</value>
            </setting>
            <setting name="SandboxieDllLocation" serializeAs="String">
                <value>C:\Program Files\Sandboxie\32\SbieDll.dll</value>
            </setting>
            <setting name="SandboxieExeLocation" serializeAs="String">
                <value>C:\Program Files\Sandboxie\Start.exe</value>
            </setting>
            <setting name="SandboxNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Malware1</string>
                        <string>Malware2</string>
                        <string>Malware3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SWIPath" serializeAs="String">
                <value>C:\Program Files (x86)\swipl</value>
            </setting>
            <setting name="MalwareScoreThreshold" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="APICallScoreThreshold" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="DynamicAnalysisDuration" serializeAs="String">
                <value>120</value>
            </setting>
        </AHMDS.Properties.Settings>
    </userSettings>
</configuration>